* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: source sans pro;
}

:root {
    --gris: rgb(71, 71, 71);

}

/* HEADER */

header {
    background-color: rgb(172, 220, 220);
    position: fixed;
    width: 100%;
    z-index: 1000;
}

header nav ul {
    display: flex;
    justify-content: flex-end;
    padding: 10px 150px;

}

header nav ul li {
    padding: 15px;
    list-style: none;
    margin: 15px;
    font-family: source sans pro;
    font-size: 20px;
    cursor: pointer;

}

header nav ul li :link {
    color: var(--gris);
    text-decoration: none;
}

header nav ul li :visited {
    color: var(--gris);
}


.boton-contacto {
    border-radius: 30px;
    background-color: beige;
}

/* HOLA */

.flex-hola {
    background-color: rgb(170, 163, 163);
    display: flex;
    padding: 250px 150px;
    justify-content: space-around;
    align-items: center;

}

.hola-txt {
    width: 600px;

}

h2 {
    font-size: 40px;
    font-family: archivo narrow;
    font-weight: 400;
}

h1 {
    font-size: 80px;
    padding-bottom: 5px;
    font-family: lora;
    font-style: italic;
}


.flex-hola h4 {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 50px;
    font-family: archivo narrow;
    font-weight: 500;
    font-style: italic;
}

button {
    font-size: 20px;
    padding: 15px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    font-family: source sans pro;
}

.hola-txt button :link {
    color: var(--gris);
    text-decoration: none;
}

.hola-txt button :visited {
    color: var(--gris);
}

#mujer {
    width: 500px;
}

#mujer img {
    width: 100%;
}

/* CONOCIMIENTOS */

.sec-conoc {
    background-color: antiquewhite;
    padding: 150px 50px;
    text-align: center;

}

.sec-conoc p {
    margin-bottom: 20px;
}

h3 {
    font-size: 50px;
    padding-bottom: 30px;
}



.flex-conoc {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 80%;
    margin: 0% 10%;
}

.flex-conoc div {
    display: flex;
    flex-direction: column;
    background-color: rgb(91, 126, 114);
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    height: 200px;
    align-items: center;
    justify-content: center;
    margin: 15px;

}

.flex-conoc div:hover {
    background-color: pink;
    box-shadow: 15px 15px 20px grey;
}

.flex-conoc div p {
    padding-top: 20px;
}




/* CITA */

.sec-cita {

    padding: 90px 150px;
    text-align: center;
    height: 550px;
    background-image: url("imagenes/fondorosa.jpg");
    background-size: cover;
}

.sec-cita p {
    font-family: archivo narrow;
    font-style: italic;
    font-weight: bold;
    font-size: 55px;
    padding-top: 35px;
}

.sec-cita h4 {
    padding: 25px;
    font-size: 30px;
    font-family: source sans pro;
    text-align: right;

}

.sec-cita i {
    font-size: 110px;
}

/* PROYECTO */

.sec-proy {
    background-color: lightcyan;
    text-align: center;
    padding: 150px 50px;
    min-height: 100vh;
}

.sec-proy p {
    text-align: center;
    padding-bottom: 30px;
}

.flex-proy {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin: 0% 10%;
}

.flex-proy div {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: white;
    margin: 20px;
    border-radius: 10px;
    gap: 20px;
    cursor: pointer;
    background-color: aqua;
    font-size: 15px;
    width: 250px;
}

.flex-proy div img {
    max-width: 100%;
}


.flex-proy .p:hover {
    background-color: pink;
    box-shadow: 15px 15px 20px grey;
}

/* CONTACTO */

.sec-cont {
    background-color: lightgoldenrodyellow;
    text-align: center;
    padding: 150px 35px;
}


.flex-contacto {
    display: flex;
    justify-content: space-around;
    border: 1px solid;
    border-radius: 10px;
    padding: 30px;
    margin: 0% 10%;
}


.flex-contacto div h3 {
    text-align: left;
}

.cont-redes {
    padding: 0px 50px;
    text-align: left;

}

.cont-redes p {
    padding-top: 10px;
    padding-bottom: 37px;
}


.fa-ul {
    margin-left: 0%;
}



.fa-ul a {
    font-size: 20px;
}

#icon,
#icon2,
#icon3,
#icon4 {
    padding-right: 20px;
}


.fa-ul li button :link {
    color: var(--gris);
    text-decoration: none;
}


.fa-ul li button :visited {
    color: var(--gris);
}



.fa-ul li button :hover {
    color: yellow;
}

.fa-ul li button:hover,
.fa-ul li button:focus {
    box-shadow: 0 0.5em 0.5em -0.4em orange;
    transform: translateY(-0.15em);
}



/* FORM */


fieldset {
    height: 100%;
    padding: 10px 0px;
    border: none;
}

.input {
    display: flex;
    gap: 20px;
}

.label {
    text-align: left;
    display: block;
    font-size: 20px;
}



#name,
#surname {
    width: 265px;
    height: 50px;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
    outline: none;
    padding: 10px;
    font-size: 15px;
}


input:hover,
textarea:hover,
.input1 #name:hover,
.input2 #surname:hover {
    background-color: yellow;
}

#email {
    width: 550px;
    height: 50px;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
    outline: none;
    padding: 10px;
    font-size: 15px;
}

#message {
    width: 550px;
    height: 200px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 15px;
}



legend {
    text-align: left;
}

#submit {
    border: none;
    border-radius: 30px;
    font-size: 20px;
    padding: 10px 40px;
    margin-top: 25px;
    cursor: pointer;
}


/* FOOTER */

footer {
    background-color: aquamarine;
    padding: 80px 450px;

}

footer ul {
    display: flex;
    list-style: none;
}

.foot1 {
    justify-content: space-evenly;
    padding: 10px 0px;
}

.foot1 li {
    font-size: 20px;
}

.foot1 li :link {
    color: var(--gris);
    text-decoration: none;
}

.foot1 li :visited {
    color: var(--gris);
}

.foot2 {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    gap: 40px;

}

.foot2 li {
    transition: transform .2s;
}

.foot2 i {
    margin: 35px;
    cursor: pointer;
    font-size: 20px;

}

footer h6 {
    text-align: center;
    font-size: 15px;
    padding-top: 30px;
}

.foot2 li :link {
    color: var(--gris);

}


.foot2 li :visited {
    color: var(--gris);
}



.foot2 li :hover {
    transform: scale(1.5);

}

/*RESPONSIVE DESIGN*/

/*MAX-WIDTH 880px*/

@media screen and (max-width: 880px) {

    /*max-width 880px - Nav*/
    header nav ul {
        padding: 0px 60px;
    }

    header nav ul li {
        padding: 10px;
        font-size: 17px;
    }

    /*max-width 880px - Hola*/

    .flex-hola {
        padding: 150px 50px;
    }

    .hola-txt {
        width: 400px;
    }

    h2 {
        font-size: 30px;
    }

    h1 {
        font-size: 60px;
    }

    .flex-hola h4 {
        font-size: 18px;
        padding-bottom: 30px;
    }

    button {
        font-size: 18px;
    }

    /*max-width 880px - Conocimientos*/

    .sec-conoc {
        padding: 110px 50px;
    }

    h3 {
        font-size: 40px;
    }

    .flex-conoc {
        width: 90%;
        margin: 0% 5%;
    }

    .flex-conoc div {
        width: 200px;
        height: 170px;
        margin: 10px;
    }

    .flex-conoc div p {
        padding-top: 10px;
    }


    /*max-width 880px - Cita*/

    .sec-cita {
        padding: 60px 70px;
        height: 350px;
    }

    .sec-cita p {
        font-size: 40px;
        padding-top: 60px;
    }

    .sec-cita h4 {
        padding: 20px 5px;
        font-size: 20px;
    }

    .sec-cita i {
        font-size: 50px;
    }

    /*max-width 880px - Proyectos*/

    .sec-proy {
        padding: 110px 30px;
    }

    .flex-proy {
        margin: 0% 5%;
    }

    .flex-proy div {
        width: 200px;
    }

    /*max-width 880px - Contacto*/

    .sec-cont {
        padding: 100px 35px;
    }

    .flex-contacto {
        padding: 20px;
        margin: 0% 5%;
    }

    .cont-redes {
        padding: 0px 30px 0px 0px;
    }

    .cont-redes p {
        padding-bottom: 15px;
    }

    .fa-ul a {
        font-size: 15px;

    }

    #icon,
    #icon2,
    #icon3,
    #icon4 {
        padding-right: 15px;
    }


    /*max-width 880px - Form*/

    .label {
        font-size: 17px;
    }

    #name,
    #surname {
        width: 190px;
        height: 40px;
    }

    #email {
        width: 400px;
        height: 40px;
    }

    #message {
        width: 400px;
        height: 170px;
    }

    #submit {
        font-size: 17px;
        padding: 10px 35px;
        margin-top: 20px;
    }


    /*max-width 880px - Footer*/

    footer {
        padding: 20px 100px;
    }

    .foot1 li {
        font-size: 17px;
    }

}


/*MAX-WIDTH 480px*/

@media screen and (max-width: 480px) {

    /*max-width 480px - Nav*/
    header nav ul {
        padding: 0px 10px;
        justify-content: center
    }

    header nav ul li {
        padding: 10px;
        margin: 10px 0px;
        font-size: 15px;
    }



    /*max-width 480px - Hola*/

    .flex-hola {
        padding: 100px 30px;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    
    }

    .hola-txt {
        width: 350px;
    }

    h2 {
        font-size: 20px;
    }

    h1 {
        font-size: 35px;
    }

    .flex-hola h4{
        font-size: 17px;
        padding-bottom: 25px;
    }

    button{
        font-size: 15px;
        padding: 10px;
        margin-top: 10px;
    }

    #mujer {
        width: 350px;
    }
    

    /*
    





/* CONOCIMIENTOS */
/*
.sec-conoc {
    background-color: antiquewhite;
    padding: 150px 50px;
    text-align: center;

}

.sec-conoc p {
    margin-bottom: 20px;
}

h3 {
    font-size: 50px;
    padding-bottom: 30px;
}



.flex-conoc {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 80%;
    margin: 0% 10%;
}

.flex-conoc div {
    display: flex;
    flex-direction: column;
    background-color: rgb(91, 126, 114);
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    height: 200px;
    align-items: center;
    justify-content: center;
    margin: 15px;

}

.flex-conoc div:hover {
    background-color: pink;
    box-shadow: 15px 15px 20px grey;
}

.flex-conoc div p {
    padding-top: 20px;
}
    
   
    */


} 