* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    scroll-behavior: smooth;
    color: #000000;

}

:root {
    --tipo-gris: #3a3a3a;
    --fondo-gris: #a7a2a2;
}

/* HEADER */

header {
    position: fixed;
    width: 100vw;
    z-index: 1000;
    background-image: url("imagenes/fondo-nav-2.jpg");
    background-size: cover;
}


header nav ul {
    display: flex;
    justify-content: flex-end;
    padding: 1% 5%;
}

header nav ul li {
    padding: 15px;
    list-style: none;
    margin: 15px;
    font-size: 22px;
    cursor: pointer;

}

header nav ul li :link {
    color: #000000;
    text-decoration: none;
}

header nav ul li :visited {
    color: #000000;
}

header nav ul li :hover {
    text-shadow: 1px 1px 5px #ffffff;
}


.boton-contacto {
    border-radius: 30px;
    background-color: #edecec;
}

/* HOLA */

.flex-hola {
    background-color: var(--fondo-gris);
    display: flex;
    padding: 15% 10%;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
}

.hola-txt {
    width: 50%;
}

h2 {
    font-size: 35px;
    font-weight: 400;
}

h1 {
    font-size: 70px;
    padding-bottom: 5px;
    font-family: 'Lora', serif;
    color: var(--tipo-gris);
}

.flex-hola h4 {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 50px;
    font-weight: 500;
}

button {
    font-size: 20px;
    padding: 15px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    color: var(--tipo-gris);
}

.hola-txt button :link {
    color: var(--tipo-gris);
    text-decoration: none;
}

.hola-txt button :visited {
    color: var(--tipo-gris);
}

.foto {
    width: 50%;
}


#mujer {
    min-width: 200px;
    max-width: 500px;
}

#mujer img {
    width: 100%;
}

/* CONOCIMIENTOS */

.sec-conoc {
    background-color: #edecec;
    padding: 10% 5%;
    text-align: center;
    min-height: 100vh;
}

h3 {
    font-size: 50px;
    padding-bottom: 30px;
}

.intro {
    font-size: 20px;
}

.flex-conoc {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 80%;
    margin: 0% 10%;
}

.flex-conoc div {
    display: flex;
    flex-direction: column;
    background-color: #869b85;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    height: 200px;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.flex-conoc div:hover {
    background-color: #bac8b9;
    box-shadow: 15px 15px 20px #808080;
}

.flex-conoc div p {
    padding-top: 20px;
    font-size: 20px;
}

.flex-conoc i {
    font-size: 80px;
}


/* CITA */

.sec-cita {
    padding: 10% 5%;
    text-align: center;
    max-height: 100vh;
    background-image: url("imagenes/fondorosa.jpg");
    background-size: cover;
}

.cita {
    height: 90%;
}

.sec-cita p {
    font-family: lora;
    font-style: italic;
    font-weight: bold;
    font-size: 55px;
    padding: 70px 0px 35px 0px;

}

.sec-cita h4 {
    font-size: 30px;
    padding-top: 20px;
    font-weight: lighter;
}

.sec-cita i {
    font-size: 100px;
}

/* PROYECTO */

.sec-proy {
    background-color: rgb(236, 234, 234);
    text-align: center;
    padding: 10% 5%;
    min-height: 100vh;
}



.flex-proy {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 80%;
    margin: 0% 10%;
}



.flex-proy div {
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
    gap: 20px;
    cursor: pointer;
    font-size: 17px;
    width: 250px;
    background-color: var(--fondo-gris);
}

.flex-proy div img {
    max-width: 100%;
    opacity: 65%;
    border: 1px solid;
    border-color: #c7c1c1;
}

.flex-proy .p:hover {
    background-color: #c7c1c1;
    box-shadow: 15px 15px 20px #808080;
}

/* CONTACTO */

.sec-cont {
    background-color: var(--fondo-gris);
    text-align: center;
    padding: 10% 5%;
    min-height: 100vh;
    margin: 0%;

}


.flex-contacto {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;

}

.flex-contacto div h3 {
    text-align: left;
}

.cont-redes {
    padding: 3% 5%;
    text-align: left;
    width: 50%;
}

.cont-redes .intro {
    text-align: justify;
    font-size: 17px;
    padding-top: 10px;
    padding-bottom: 37px;
}


.fa-ul {
    margin-left: 0%;
}

.fa-ul a {
    font-size: 20px;
}

#icon,
#icon2,
#icon3,
#icon4 {
    padding-right: 20px;
}

.fa-ul li button :link {
    color: var(--tipo-gris);
    text-decoration: none;
}

.fa-ul li button :visited {
    color: var(--tipo-gris);
}

.fa-ul li button :hover {
    color: #000000;
}

.fa-ul li button:hover,
.fa-ul li button:focus {
    box-shadow: 0 0.5em 0.5em -0.4em #ffffff;
    transform: translateY(-0.15em);
}

/* FORM */

.cont-form {
    padding: 3% 5%;
    width: 50%;
}

fieldset {
    height: 100%;
    padding: 10px 0px;
    border: none;
    border-color: var(--tipo-gris);


}

.input {
    display: flex;
    gap: 20px;

}

.label {
    text-align: left;
    display: block;
    font-size: 20px;


}

.input1,
.input2 {
    width: 50%;
}

#name,
#surname {
    width: 100%;
    max-height: 50px;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
    outline: none;
    padding: 10px;
    font-size: 15px;
    color: #ffffff;

}

#email {
    width: 100%;
    max-height: 50px;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
    outline: none;
    padding: 10px;
    font-size: 15px;
    color: #ffffff;
}

#message {
    width: 100%;
    min-height: 200px;
    max-height: 400px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 15px;
    color: #ffffff;
}


input:hover,
textarea:hover,
.input1 #name:hover,
.input2 #surname:hover {
    background-color: var(--tipo-gris);
}


legend {
    text-align: left;
}

#submit {
    border: none;
    border-radius: 30px;
    font-size: 20px;
    padding: 10px 40px;
    margin-top: 25px;
    cursor: pointer;
    color: var(--tipo-gris);

}


#submit:hover,
#submit:focus {
    box-shadow: 0 0.5em 0.5em -0.4em #ffffff;
    transform: translateY(-0.15em);
    color: #ffffff;
}

/* FOOTER */

footer {
    padding: 5% 5%;
    background-image: url("imagenes/footer-3.jpg");
    background-size: cover;
    height: 350px;

}


footer ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.foot1 {
    justify-content: space-evenly;
    margin-bottom: 3%;
}

.foot1 li {
    font-size: 22px;
}

.foot1 li :link {
    color: var(--tipo-gris);
    text-decoration: none;
}

.foot1 li :visited {
    color: var(--tipo-gris);
}

.foot2 {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.foot2 li {
    transition: transform .2s;
}

.foot2 i {
    margin: 35px;
    cursor: pointer;
    font-size: 20px;

}

footer h6 {
    text-align: center;
    font-size: 13px;
    padding-top: 30px;
    color: var(--tipo-gris);
}

.foot2 li :link {
    color: var(--tipo-gris);
}

.foot2 li :visited {
    color: var(--tipo-gris);
}

.foot2 li :hover {
    transform: scale(1.5);
}


/*RESPONSIVE DESIGN*/




/*MAX-WIDTH 880px*/


@media screen and (max-width: 880px) {

    /*max-width 880px - Nav*/

    header nav ul {
        padding: 1% 5%;
    }

    header nav ul li {
        padding: 10px;
        font-size: 17px;
    }

    /*max-width 880px - Hola*/

    .flex-hola {
        padding: 15% 5%;
    }

    .hola-txt {
        max-width: 600px;
        min-width: 300px;
    }

    h2 {
        font-size: 25px;
    }

    h1 {
        font-size: 55px;
    }

    .flex-hola h4 {
        font-size: 18px;
        padding-bottom: 20px;
    }

    button {
        font-size: 17px;
    }


    #mujer {
        min-width: 200px;
        max-width: 400px;
    }


    /*max-width 880px - Conocimientos*/


    h3 {
        font-size: 40px;
    }

    .intro {
        font-size: 17px;
    }

    .flex-conoc {
        width: 90%;
        margin: 0% 5%;
    }

    .flex-conoc div {
        width: 200px;
        height: 170px;
        margin: 10px;
    }

    .flex-conoc div p {
        padding-top: 10px;
        font-size: 15px;
    }

    .flex-conoc i {
        font-size: 70px;
    }



    /*max-width 880px - Cita*/

    .sec-cita {
        padding: 7% 5%;

    }

    .sec-cita p {
        font-size: 35px;
        padding-top: 50px;
    }

    .sec-cita h4 {
        padding-top: 15px;
        font-size: 20px;
    }

    .sec-cita i {
        font-size: 60px;
    }



    /*max-width 880px - Proyectos*/


    .flex-proy div {
        width: 220px;
        margin: 10px;
    }


    /*max-width 880px - Contacto*/

    .flex-contacto {
        padding: 15px;

    }

    .cont-redes .intro {
        font-size: 15px;
        padding-bottom: 15px;
    }

    .fa-ul a {
        font-size: 15px;
    }

    #icon,
    #icon2,
    #icon3,
    #icon4 {
        padding-right: 15px;
    }

    .fa-ul button {
        padding: 4%;
    }


    /*max-width 880px - Form*/


    .label {
        font-size: 16px;
    }

    #name,
    #surname {
        max-height: 40px;
    }

    #email {
        max-height: 40px;
    }

    #message {
        min-height: 150px;
        max-height: 200px;
    }

    #submit {
        font-size: 17px;
        padding: 10px 35px;
        margin-top: 20px;
    }


    /*max-width 880px - Footer*/


    .foot1 li {
        font-size: 17px;
        max-height: 200px;
    }

    .foot1 {
        margin-bottom: 5%;
    }


    footer h6 {
        padding-top: 90px;
    }
}


/*MAX-WIDTH 722px*/

@media screen and (max-width: 722px) {

    /*max-width 722px - Proyecto*/

    .sec-proy {
        padding: 10% 5%;
    }


    .flex-proy div {
        padding: 20px;
        gap: 15px;
        font-size: 15px;
        width: 200px;
    }

    /*max-width 722px - Contacto-Form*/

    .flex-contacto {
        padding: 5px;

    }

    .cont-redes {
        padding: 2%;
    }

    .cont-form {
        padding: 2%;
    }

    .cont-redes .intro {
        padding-bottom: 15px;
        font-size: 13px;
    }

    .fa-ul a {
        font-size: 13px;
    }

    .fa-ul button {
        padding: 3%;
    }


}

/*MAX-WIDTH 600px*/
@media screen and (max-width: 600px) {

    /*max-width 600px - Nav*/

    header nav ul {
        justify-content: center;
    }

    header nav ul li {
        padding: 10px;
        margin: 10px 5px;
        font-size: 17px;
    }

    /*max-width 600px - Hola*/

    .flex-hola {
        padding: 10% 5% 0% 5%;
        align-items: center;
        min-height: 500px;
    }

    .hola-txt {
        max-width: 300px;
    }

    h2 {
        font-size: 20px;
    }

    h1 {
        font-size: 40px;
    }

    .flex-hola h4 {
        font-size: 15px;
        padding-bottom: 15px;
    }

    button {
        font-size: 15px;
        padding: 4%;
    }

    /*max-width 600px - Conocimientos*/


    h3 {
        font-size: 30px;
    }

    .intro {
        font-size: 15px;
    }

    .flex-conoc div {
        width: 180px;
        height: 150px;

    }

    .flex-conoc i {
        font-size: 60px;
    }

    /*max-width 600px - Cita*/


    .sec-cita p {
        font-size: 30px;
        padding-top: 40px;
    }

    .sec-cita h4 {
        padding-top: 10px;
        font-size: 17px;
    }


    .sec-cita i {
        font-size: 50px;
    }

    /*max-width 600px - Proyecto*/

    .flex-proy {
        padding: 20px 0px;
    }


    /*max-width 600px - Contacto*/

    .flex-contacto {
        flex-direction: column;
        padding: 20px;
    }

    .flex-contacto div h3 {
        text-align: center;

    }

    .cont-redes {
        text-align: center;
        width: 100%;
    }


    .cont-redes .intro {
        padding-top: 0px;

    }

    .fa-ul li button {
        display: flex;
        align-self: flex-start;

    }

    .fa-ul {
        padding-bottom: 50px;
    }


    .cont-form {

        width: 100%;
    }

    #submit {
        font-size: 17px;
        padding: 10px 25px;
        margin-top: 25px;
        align-items: center;
    }

    /*max-width 600px - Footer*/

    footer {
        height: 250px;
    }

    .foot1 {
        margin-bottom: 2%;
    }

    .foot1 li {
        font-size: 15px;
    }

    .foot2 {
        margin-bottom: 2%;
    }

    .foot2 i {
        font-size: 15px;

    }

    footer h6 {
        font-size: 12px;
        padding-top: 30px;
    }


}


/*MAX-WIDTH 480px*/
@media screen and (max-width: 480px) {

    /*max-width 480spx - Nav*/

    header nav ul li {
        padding: 8px;
        margin: 8px 2px;
        font-size: 15px;
    }


    /*max-width 480px - Hola*/

    .flex-hola {
        padding: 25% 5% 10% 5%;
        flex-direction: column;
    }

    .hola-txt {
        max-width: 500px;
        min-width: 300px;
    }

    h2 {
        font-size: 18px;
    }

    h1 {
        font-size: 35px;
    }

    .flex-hola h4 {
        font-size: 15px;
        padding-bottom: 20px;
    }

    button {
        font-size: 13px;
        padding: 3%;
    }

    .foto {
        padding-top: 35px;
    }

    /*max-width 480px - Footer*/

    footer {
        height: 200px;
    }

    .foot1 {
        margin-bottom: 1%;
    }


    footer h6 {
        padding-top: 25px;
    }

}

/*MAX-WIDTH 320px*/
@media screen and (max-width: 320px) {

    /*max-width 320spx - Nav*/

    header nav ul li {
        font-size: 12px;
    }

    /*max-width 320px - Hola*/

    .hola-txt {
        max-width: 270px;
        min-width: 230px;
    }

    h2 {
        font-size: 17px;
    }

    h1 {
        font-size: 25px;
    }

    .flex-hola h4 {
        font-size: 12px;
        padding-bottom: 10px;
    }

    button {
        font-size: 12px;
        padding: 2%;
    }

    .foto {
        padding-top: 25px;
    }



    /*max-width 320px - Conocimientos*/


    h3 {
        font-size: 20px;
    }

    .intro {
        font-size: 12px;
        padding: 0% 3%;
    }

    .flex-conoc div {
        width: 130px;
        height: 100px;

    }

    .flex-conoc i {
        font-size: 40px;
    }

    /*max-width 320px - Cita*/


    .sec-cita p {
        font-size: 20px;
        padding-top: 20px;
    }

    .sec-cita h4 {
        font-size: 15px;
    }


    .sec-cita i {
        font-size: 30px;
    }

    /*max-width 320px - Proyecto*/

    .flex-proy div {
        padding: 15px;
        gap: 10px;
        font-size: 13px;
        width: 150px;
    }

    /*max-width 320px - Contacto*/

    .flex-contacto {
        padding: 10px;
    }

    .cont-redes .intro {
        font-size: 13px;
    }

    .fa-ul {
        padding-bottom: 30px;
    }

    .fa-ul button {
        padding: 3%;
    }

    /*max-width 320px - Form*/
    .label {
        font-size: 15px;
    }

    #name,
    #surname {
        max-height: 30px;
        font-size: 13px;
    }

    #email {
        max-height: 30px;
        font-size: 13px;
    }

    #message {
        min-height: 120px;
        max-height: 170px;
        font-size: 13px;
    }

    legend {
        font-size: 13px;
    }

    #submit {
        font-size: 15px;
        padding: 8px 17px;
        margin-top: 20px;
    }

    /*max-width 320px - Footer*/

    footer {
        height: 200px;
    }

    .foot1 li {
        font-size: 11px;
    }

    .foot2 i {
        font-size: 12px;

    }

    footer h6 {
        padding-top: 15px;
        font-size: 10px;
    }



}